# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# Environment variables
.env

# Session files
*.session
*.session-journal

# Logs
logs/

# Database
*.db
*.db-shm
*.db-wal

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
